spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO}   # create, update, validate, none 중 선택 가능
  
  data:
    redis:
      host: redis

logging:
  file:
    name: /chatApp/logs/chatApp.log