<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tgg.chat.domain.chat.room.repository.ChatRoomUserMapper">

    <select id="existsByChatRoomIdAndUserId" parameterType="long" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM chat_room_user T1
            INNER JOIN chat_room T2
            ON T1.chat_room_id = T2.chat_room_id
            WHERE T1.chat_room_id = #{chatRoomId}
            AND T1.user_id = #{userId}
            AND T1.chat_room_user_status = 'ACTIVE'
            AND T1.chat_room_user_role = 'OWNER'
            AND T2.chat_room_type = 'GROUP'
        )
    </select>

    <select id="findMemberStatusesFriendIs">
        SELECT
                user_id
            ,   chat_room_user_status
        FROM chat_room_user
        WHERE chat_room_id = #{chatRoomId}
        AND user_id IN
        <foreach collection="friendIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>