<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tgg.chat.domain.friend.repository.UserFriendMapper">
    <select id="findFriendListByOwnerId" parameterType="long" resultType="UserFriendRowDto">
        SELECT
            T1.friend_id
        ,	T2.username AS friend_username
        FROM user_friend T1
        INNER JOIN user T2 ON T1.friend_id = T2.user_id
        WHERE T1.owner_id = #{ownerId} AND T2.deleted = 0
        ORDER BY T2.username ASC
    </select>

    <select id="countActiveFriendsByIds" resultType="int">
        SELECT
            COUNT(*)
        FROM user_friend T1 INNER JOIN user T2 ON T1.friend_id = T2.user_id
        WHERE T1.owner_id = #{ownerId}
        AND T1.friend_id IN
        <foreach collection="friendIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND T2.deleted = 0;
    </select>
</mapper>