<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tgg.chat.domain.friend.repository.UserFriendMapper">

    <select id="findFriendListByOwnerId" parameterType="long" resultType="UserFriendRowDto">
        SELECT
            T1.user_friend_id
        ,   T1.owner_id
        ,   T1.friend_id
        ,   T1.created_at
        ,   T1.updated_at
        ,	T2.username AS owner_username
        ,	T3.username AS friend_username
        FROM user_friend T1
        INNER JOIN user T2 ON T1.owner_id = T2.user_id
        INNER JOIN user T3 ON T1.friend_id = T3.user_id 
        WHERE owner_id = #{ownerId}
        ORDER BY T3.username ASC
    </select>
    
    <select id="existsByOwnerIdAndFriendId" parameterType="long" resultType="boolean">
		SELECT EXISTS (
			SELECT 1
			FROM user_friend
			WHERE owner_id = #{ownerId}
			AND	friend_id = #{friendId}
		)
    </select>

    <select id="countActiveFriendsByIds" resultType="int">
        SELECT
            COUNT(*)
        FROM user_friend
        WHERE owner_id = #{ownerId}
        AND friend_id IN
        <foreach collection="friendIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>