name: CI-CD

# main 브랜치에 push 가 발생할때 해당 워크플로우 실행
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read    # 해당 워크플로우가 깃허브 저장소 읽기만 허용
  packages: write   # GHCR(GitHub Container Registry) 에 이미지 push 하려면 필요

jobs: # 워크플로우에서 실행할 작업 묶음, 작업 단위로 별도의 환경에서 실행됨
  build-and-push: # 내가 이름 붙인 작업
    runs-on: ubuntu-latest  # 깃허브에서 제공하는 ubuntu 에서 실행

    steps:  # build-and-push 작업에서 순서대로 실행될 작업들
      - name: Checkout source code  # 작업의 이름
        uses: actions/checkout@v4   # 레포지토리 내용을 깃허브 러너에 옮겨온다 @v4 는 actions/checkout 이라는 액션의 버전을 의미

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3  # GHCR 에 로그인 한다는 의미
        with:
          registry: ghcr.io   # 로그인 대상이 GHCR임을 명시
          username: ${{ github.actor }}   # 깃허브 계정
          password: ${{ secrets.GITHUB_TOKEN }}   # 깃허브 액션에서 제공되는 토큰

      - name: Build and push Docker image
        run: |  # 여러 줄의 쉘 명령어 실행 의미, 이미지를 빌드 후 GHCR에 push
          IMAGE=ghcr.io/tggkim/tggchat:latest
          docker build -t $IMAGE .
          docker push $IMAGE

  deploy:   # 내가 이름 붙인 작업
    needs: build-and-push   # build-and-push 작업이 성공해야 실행
    runs-on: ubuntu-latest  # 깃허브에서 제공하는 ubuntu 에서 실행

    steps:  # deploy 작업에서 순서대로 실행될 작업들
      - name: Deploy to EC2 via SSH   # 작업의 이름
        uses: appleboy/ssh-action@v1.0.3  # EC2에 SSH 로 접속해서 script 실행
        with:
          host: ${{ secrets.EC2_HOST }}   # EC2의 IP
          username: ${{ secrets.EC2_USER }}   # SSH 로그인 계정명
          key: ${{ secrets.EC2_SSH_KEY }}   # SSH 접속에 사용할 .pem 키
          script: | # docker-compose 실행
            cd /home/ubuntu/tgg-app
            sudo docker compose pull
            sudo docker compose up -d
            sudo docker image prune -f
